
*{
    margin: 0;
    font-family: Inter,sans-serif;
}
.item_form select{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 6vmin;
    border: none;
}

.parent_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    height: 100vh;
 
}
.item_text{
    font-size: 2rem;
    margin-left: 2vmax;
}
.image_section{
    display: flex;
    height: 100% ;
}
.image_section img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* .image_section img{
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.form_parent{
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    border-radius: 0.9rem;
    gap: 5vmin;
}

.item_form{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap:3vmin;
}
.category_row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.category_row .category_field{
    display: flex;
    flex-flow: column wrap;
    margin-left: 2.5vmax;
    gap: 2vmin;
    
}
.first_row{
    display: flex;
    flex-flow: row wrap;
    gap: 8vmax;
    justify-content: center;

}
.first_row .name_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
}
.name_input{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 6vmin;
    border: none;
}
.first_row .sname_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
}

.second_row{
    display: flex;
    flex-flow: row wrap;
    gap: 8vmax;
    justify-content: center;
}
.second_row .price_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;

}
.price_input{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 6vmin;
    border: none;

}
.second_row .quantity_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
}
.quantity_input{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 6vmin;
    border: none;

}

.third_row{
    display: flex;
    flex-flow: row wrap;
    gap: 8vmax;
    justify-content: center;

}
.third_row .usage_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
}
.usage_input{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 18vmin;
    border: none;

}

.third_row .description_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
}

.description_input{
    border-radius: 0.6rem;
    width: 18vmax;
    height: 18vmin;
    border: none;
}
.fourth_row{
    display: flex;
    flex-flow: row wrap;
    gap: 8vmax;
    justify-content: flex-start;
}
.fourth_row .image_field{
    display: flex;
    flex-flow: column wrap;
    gap: 2vmin;
    margin-left: 3vmax;
}
.submit_btn{
    display: flex;
    flex-flow: row wrap;
    gap: 8vmax;
    justify-content: center;

}
.submit_btn button{
    color: white;
    background-color: black;
    border-radius: 0.6rem;
    width: 12vmax;
    height: 6vmin;
    border: none;
    cursor: pointer;
}
