
{% load static %}  <!--loading all the files inside static folder-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'signin.css'%}">
   
  </head>
  <body>
    <div class="parent">
          <div class="text-wrapper">Your Logo</div>
          <div class="field-error">
            {%if form.errors or form.non_field_errors%}

            {% for field in form%}
            {{field.errors}}
            {%endfor%}
            {{form.non_field_errors}}
            {%endif%}

            </div>

          <!--Upper welcome part-->
          <div class="group">
            <div class="card_upper">
            <div class="welcome">
                <p>Welcome to </p><span>Mero herbs</span>
            </div>
            <div class="signin">SIGN IN</div>
          </div>
                  <!--Upper welcome part end-->


            
        <div class="userfield">
          <div class="fields">
            <form method="post" action=".">
              {%csrf_token%}
              <div class="username"> 
                {{form.username}}
              </div>
              <div class="password">
                {{form.password}}
                <a href="#">Forgot password ?</a>
                <button type="submit" class="signin-btn"> Sign in</button>
              </div>
          </div>
          <span>Don't have an account ? <a href="{% url 'core:signup'%}"> <strong>Signup</strong></span> </a>

        </div>
      </div>



            

             
  </body>
</html>


