{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="{% static 'dashboard.css' %}">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
      <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
      {% comment %} 
      <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
      {% endcomment %}
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&family=Lobster&display=swap" rel="stylesheet">
   </head>
   <body>
      <!-- header -->
      <header>
         <div class="logo">Mero herbs <span style="color:#FF7426">.</span></div>
          <a href="#" class="Home">
          Home
          </a>
          {% comment %} <a href="#" class="Browse">
          Browse
          </a> {% endcomment %}
          <div class="search-container">
            <button class="filter-btn" type="submit"><img src="{% static '/dashboard/images/filter.png' %}">Filter</button>
            <form action="" class="seach-bar">
               <input type="text" placeholder="search" name="q">
               <button type="submit" class="search-button"><img src= "{% static '/dashboard/images/search.png'%}"></button>
            </form>
         </div>
         <div class="user-wrapper">
            <img src="{% static 'dashboard/images/user.png' %}" class="user-icon" onclick="toggleMenu()">
            
            <a href="{% url 'core:signup'%} " class="signup">
               <div class="signup-btn"> Sign up</div>
            </a>
         </div>
         <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
            <div class="user-info">
            <img src="{% static '/dashboard/images/user.png'%}" alt="check your connection" >
            <h2>username</h2>
            </div>
            <hr>
            <a href="#" class="sub-menu-link">
            
            <img src="{% static '/dashboard/images/edit.png'%} " alt= " ">
            <p>Edit profile </p>
            <span>></span>
            </a>

            <a href="#" class="sub-menu-link">
            
            <img src="{% static '/dashboard/images/addproduct.png'%} " alt= " ">
            <p>Add product </p>
            <span>></span>
            </a>

             <a href="#" class="sub-menu-link">
            
            <img src=" {% static '/dashboard/images/support.png'%}" alt= " ">
            <p>Help and support </p>
            <span>></span>
            </a>

             <a href="#" class="sub-menu-link">
            
            <img src=" {% static '/dashboard/images/logout.png'%} " alt= " ">
            <p>Logout </p>
            <span>></span>
            </a>
            </div>
         
         </div>
      </header>
      <!-- slider -->
      <div class="slider">
         <!-- list Items -->
         <div class="list">
            <div class="item active">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  <p>design</p>
                  <h2>Slider 01</h2>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                  </p>
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  <p>design</p>
                  <h2>Slider 02</h2>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                  </p>
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  <p>design</p>
                  <h2>Slider 03</h2>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                  </p>
               </div>
            </div>
            <div class="item">
               <img src="https://media.gettyimages.com/id/637030542/photo/kathmandu-crowds-of-people-outside-temples-patan-durbar-square-nepal.jpg?s=612x612&w=gi&k=20&c=s4H7-W4nNlpLGVagDNkUgBSPrsBFM2hCaAezMhUdxvk=">
               <div class="content">
                  <p>design</p>
                  <h2>Slider 04</h2>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                  </p>
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  <p>design</p>
                  <h2>Slider 05</h2>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, neque?
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, ex.
                  </p>
               </div>
            </div>
         </div>
         <!-- button arrows -->
         <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
         </div>
         <!-- thumbnail -->
         {% comment %} 
         <div class="thumbnail">
            <div class="item active">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  Name Slider
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  Name Slider
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  Name Slider
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  Name Slider
               </div>
            </div>
            <div class="item">
               <img src="https://media.istockphoto.com/id/637696304/photo/patan.jpg?s=612x612&w=0&k=20&c=-53aSTGBGoOOqX5aoC3Hs1jhZ527v3Id_xOawHHVPpg=">
               <div class="content">
                  Name Slider
               </div>
            </div>
            {% endcomment %}
         </div>
      </div>
      <div class="category">
      <div class="category-wrapper">
         <span class="category-text" > Categories</span>
         <button class="category-btn">View all categories</button>
      </div>
      <div class="category-items">
         <div class="items-wrapper">
            <div class="items">
               item1
            </div>
            <div class="items">
               item2
            </div>
            <div class="items">
               item3
            </div>
            <div class="items">
               item4     
            </div>
            <div class="items">
               item5     
            </div>
            <div class="items">
               item6     
            </div>
         </div>
      </div>
      <div>

         
    <!-- CARD HTMLLLL
    =========== -->


   <div class="text-herbs">
      <p>Some Popular Herbs</p>
   </div>
  <section class="container-card">
      <div class="card">
          <div class="card-image car-1"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>
          <a href="">BUY NOW</a>
      </div>
      <div class="card">
          <div class="card-image car-2"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>  
          <a href="">BUY NOW</a> 
      </div>
      <div class="card">
          <div class="card-image car-3"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>  
          <a href="">BUY NOW</a>
      </div>
  </section>
  <section class="container2-card">
      <div class="card">
          <div class="card-image car-4"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>
          <a href="">BUY NOW</a>
      </div>
      <div class="card">
          <div class="card-image car-5"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>  
          <a href="">BUY NOW</a> 
      </div>
      <div class="card">
          <div class="card-image car-6"></div>
          <h2>Title</h2>
          <p>
              Tiled say decay spoil now walls meant house. 
              My mr interest thoughts screened of outweigh removing.
               Evening society musical besides inhabit ye my. 
              Lose hill well up will he over on.
          </p>  
          <a href="">BUY NOW</a>
      </div>
  </section>
  <div class="seller-text">
      <p>POPULAR SELLERS</p>
  </div>


  <!-- BLOG CARD 
  --------- -->

  <section class="container-blogcard">
      <div class="blog-card">
         <input type="radio" name="select" id="tap-1" checked>
         <input type="radio" name="select" id="tap-2">
         <input type="radio" name="select" id="tap-3">
         <input type="checkbox" id="imgTap">
         <div class="sliders">
            <label for="tap-1" class="tap tap-1"></label>
            <label for="tap-2" class="tap tap-2"></label>
            <label for="tap-3" class="tap tap-3"></label>
         </div>
         <div class="inner-part">
            <label for="imgTap" class="img">
            <img class="img-1" src="{% static '/dashboard/images/2.jpg' %}">
            </label>
            <div class="content content-1">
               <div class="title">
                  Lorem Ipsum Dolor
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo animi atque aliquid pariatur voluptatem numquam, quisquam. Neque est voluptates doloribus!
               </div>
               <button>Read more</button>
            </div>
         </div>
         <div class="inner-part">
            <label for="imgTap" class="img">
            <img class="img-2" src="{% static '/dashboard/images/2.jpg' %}">
            </label>
            <div class="content content-2">
               <div class="title">
                  Lorem Ipsum Dolor
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos ut consectetur numquam ullam fuga animi laudantium nobis rem molestias.
               </div>
               <button>Read more</button>
            </div>
         </div>
         <div class="inner-part">
            <label for="imgTap" class="img">
            <img class="img-3" src="{% static '/dashboard/images/2.jpg' %}">
            </label>
            <div class="content content-3">
               <div class="title">
                  Lorem Ipsum Dolor
               </div>
               <div class="text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod excepturi nemo commodi sint eum ipsam odit atque aliquam officia impedit.
               </div>
               <button>Read more</button>
            </div>
         </div>
      </div>
  </section>

  <!-- SKEWED PART HTMLLL 
  ------------------ -->

  <section class="skewed-section">
      <div class="skewed">
          <div class="Skewed-text">
              <h1>JOIN US</h1>
              <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, obcaecati. Expedita facilis maiores dolorum veniam quasi, earum voluptate. Optio iusto natus unde deserunt consectetur accusantium voluptatem perspiciatis quod doloribus sunt.
              </p>
              <a href="#">REGISTER</a>
          </div>
          <div class="image-Skewed">
              <div>
                  <img src="{% static '/dashboard/images/logo.png' %}" alt="img">
              </div>
          </div>
      </div>
  </section>

  <!-- FOOTERRR HTMLHHHHH 
  ================== -->

  <footer class="footer-distributed">
      <div class="footer-left">
          <h3>Mero<span>Herbs</span></h3>
          <p class="footer-links">
              <a href="#">Home</a>
              |
              <a href="#">About</a>
              |
              <a href="#">Contact</a>
              |
              <a href="#">Blog</a>
          </p>
      </div>
      <div class="footer-center">
          <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Ghar</span>Nepal</p>
          </div>

          <div>
              <i class="fa fa-phone"></i>
              <p>986126262</p>
          </div>
          <div>
              <i class="fa fa-envelope"></i>
              <p><a href="#">samman@kalegmail.com</a></p>
          </div>
      </div>
      <div class="footer-right">
          <p class="footer-company-about">
              <span>About the company</span>
              <strong>MeroHerbs</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Iusto rerum id expedita delectus fugit architecto, 
              non illo quae repellendus explic
          </p>
      </div>
  </footer>




      <script src="{% static 'dashboard.js'%}"></script>
   </body>
</html>