@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
*{
    /* box-sizing: border-box;  */
    margin: 0;
   
}
body{
    display: flex;
    flex-direction: column;
    gap: 3vmin;
}

svg{
    width: 25px;
}

/* navbar section css */
.navbar{
    width: 100%;
    margin: auto;
    position: static;
    height: 70px;
    display: flex ;
    flex-wrap: row wrap;
    position: relative;
    z-index: 100;
    background-color: white;
    opacity: 89%;   
    gap:38vw
}
.navbar-links {
    display: flex;
    align-items: center;
    gap:8vh;
    text-decoration: none;
    color: black;


}
.navbar-links a{
    text-decoration: none;
    color: black;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.navbar .logo{
    display: flex ;
    font-weight: 600;
    font-family: Lobster, sans-serif;
    font-size: 24px;
    color: black;
    margin-left: 65px;
    width: 60px;
    align-items: center;
    justify-content: left;
}

 .menu{
    width: 10px;
    padding: 0;
    margin-left: 50px;
    list-style: none;
    display: inline-block;
    justify-content: left;
    font-weight: 500;
}



::placeholder{
    text-align: center;
    color: black;
}
.user-wrapper{
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    

}
.user-wrapper img{
    object-fit: contain;
    height: 42px;
    width: 42px;
    margin-right: 40px;
    margin-top: 5px;
    cursor: pointer;
}

.user-info img{
    height: 42px;
    width: 42px;
    margin: 15px;
}
.sub-menu-wrap{
    position:absolute;
    top: 100%;
    right: 2%;
    width: 310px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;

}
/* gets toggled by javascript  */
 .sub-menu-wrap.open-menu{   
    max-height: 400px;
}
.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px ;
}
.user-info{
    align-items: center;
    display: flex;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background:#e5e5e5;
    border-radius: 34%;
    padding: 8px;
    margin-right: 15px;
    object-fit: cover;

}
.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.signup-btn{
    width: 90px;
    display: flex;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 0.125rem solid #0d333f;
    color: #0d333f;
    min-height: unset;
    height: 3.25rem;
    padding: 0 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'AvenirNext forINTUIT', Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    

}
.signup{
    text-decoration: none;
} 

/* navbar section end*/

.explore-btn{
    width: 8vw;
    display: flex;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 0.125rem solid #0d333f;
    color: rgb(53, 196, 84);
    min-height: unset;
    line-height: 1.3vmax;
    margin-top: 3vw;
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'AvenirNext forINTUIT', Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    text-align: center;
    /* margin-right: 30px; */
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

/* css slider */
.slider{
    height: 100vh;
    margin-top: -65px;
    position: relative;
    gap: 0;
    display: flex;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 5%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: #fff;
    opacity: 1;
}
.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 9px;
}
.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active div,

.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1.5);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 10%;
    }
}
.bodycontent_parent{
    display: flex;
    flex-flow: column wrap;
    gap: 18vmin;
}
.category{
    font-family: Inter,sans-serif;
    opacity: 89%;
    display: flex;
    flex-wrap: wrap;

}

.category-wrapper{
    color: black;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    width: 100%;
    justify-items: center;
    gap: 70%;
    
}

.category-text{
    font-family: Inter,sans-serif;
    display: inline-block;
    width: fit-content;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 50px;
    margin-left: -50px;

}

.category-btn{
    display: inline-flex;
    background-color: #E7FAFE;
    font-size: 1rem;
    width: 26vmin;
    margin-top: -6vmax;
    font-weight: bold;
    border-radius: 16px;
    font-family: Inter,sans-serif;
    border: 0;
    cursor: pointer;
    height: 46px;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}
.category-btn a{
    text-decoration: none;
    color: black;
}
.category-items{
    width: 100%;
    height: 370px;
    display: flex;
    color: black;


}

.middle-card_parent{
    display: flex;
    background-color: #000;
    height: 150vmax;
    width: 100%;
    height: 100vmax;
}

.right_card{
    background-color: #cccccc;
    height: 10vmax;
    width: 50vmax;

}
.r1{
    background-color: #0d333f;
    height: 5vmax;
    width: 20vmax;

}
.r2{
    background-color: #e0ac1c;
    height: 5vmax;
    width: 20vmax;

}
.lower_card{
    background-color: yellowgreen;
    height: 10vmax;
    width: 10vmax;

}

/* upper middle */

.u_mid_parent{
    display: flex;
    flex-wrap :wrap;
    height: 80vmin;
    width: 95%;
    align-self: center;
}
.u_mid_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;

}
.u_mid_body .right_body{
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 35vmax;
    align-items: center;
    justify-content: space-around;

}
.right_body .right_text{
    display: flex;
    flex-flow: column wrap;
    line-height: 1.7rem;
    font-family: Inter,sans-serif;
    gap: 3vmin;
    background-color: #E7FAFE;
    height: 30vmin;
    width: 100%;
    border-radius: 1rem;

}
.right_text h1{
    margin-top: 0.9rem;
    font-size: 2.4rem;
    margin-left: 0.9rem;
}
.right_text span{
    font-size: 1.2rem;
    font-family: Inter,sans-serif;
    width: 90%;
    margin-left: 0.9rem;
}
.right_body .right_box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 46vmin;
    width: 100%;

}
.rb1{
    display: flex;
    align-self: flex-end;
    height: 40vmin;
    width: 15vmax;
    border-radius: 12%;
}
.rb1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12%;

}
.right_box .rb2{
    height: 40vmin;
    width: 15vmax;
    border-radius: 12%;
    
}
.rb2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12%;

}
.middle_body{
    display: flex;
    width: 22%;
    height: 80%;
    align-self: center;
    border-radius: 50%;

}
.middle_body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.left_body{
    display: flex;
    flex-flow: column wrap;
    width: 35vmax;
    height: 100%;
    justify-content: space-around;
}
.left_body .left_box{
    display: flex;
    flex-flow: row wrap;
    height: 46vmin;
    width: 100%;
    justify-content: space-around;
}
.lb1{
    display: flex;
    align-self: flex-end;
    height: 40vmin;
    width: 15vmax;
    border-radius: 12%;

}
.lb1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12%;

}
.lb2{
    height: 40vmin;
    width: 15vmax;
    border-radius: 12%;
    
}
.lb2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12%;

}
.left_text{
    display: flex;
    flex-flow: column wrap;
    line-height: 1.7rem;
    font-family: Inter,sans-serif;
    gap: 3vmin;
    background-color: #E7FAFE;
    border-radius: 1rem;
    height: 30vmin;
    width: 100%;
}
.left_text h1{
    margin-top: 0.9rem;
    font-size: 2.4rem;
    margin-left: 0.9rem;

}
.left_text span{
    font-size: 1.2rem;
    font-family: Inter,sans-serif;
    width: 90%;
    margin-left: 0.9rem;

}


/* middle part content start */
.middle_parent{
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    width: 95%;
    gap: 12vmin;
    border-radius: 0.9rem;

}
.middle_text{
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    gap: 3vmin;
    line-height: 1.7rem;
    align-items: center;
    width: 80%;
    background-color: #E7FAFE;
    border-radius: 1rem;
}
.middle_text h1{
    margin-top: 0.4rem;
    font-size: 2.4rem;
    font-family: Inter,sans-serif;
}
.middle_text span{
    font-size: 1.2rem;
    font-family: Inter,sans-serif;
    width: 90%;

}

.upper_part{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}
.upper_part .upper_text{
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    line-height: 1.7rem;
    gap: 3vmin;
    font-family: Inter,sans-serif;
    font-size: 0.8rem;
}
.upper_text h1{
    font-size: 2.4rem;
    font-family: Inter,sans-serif;

}
.upper_text p{
    font-size: 1.2rem;
    font-family: Inter,sans-serif;   
}
.upper_part .upper_text2{
    display: flex;
    align-self: flex-end;
    margin-left: -3vmax;
    margin-right: 1.3vmax;
    line-height: 1.7rem;
    flex-flow: column wrap;
    gap: 3vmin;
    font-family: Inter,sans-serif;
    font-size: 0.8rem;
}
.upper_text2 h1{
    font-size: 2.4rem;
    font-family: Inter,sans-serif;

}
.upper_text2 p{
    font-size: 1.2rem;
    font-family: Inter,sans-serif;   
}
.upper_part .upper_card{
    display: flex;
    flex-flow: row wrap;
    gap: 2vmin;
    height: 80vmin;
    border-radius: 0.9rem;

}

.upper_part .upper_card .upper1{
    border-radius: 0.9rem;
    height: 50vmin;
    width: 20vmax;

}
.upper1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
}
.upper_part .upper_card .upper2{
    display: flex;
    border-radius: 0.9rem;
    height: 50vmin;
    width: 20vmax;
    align-self: flex-end;
    
}
.upper2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
    
}
.lowerpart{
    display: flex;
    flex-flow: row wrap;
    height: 40vmin;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.lower1{
    height: 40vmin;
    border-radius: 0.9rem;
    width: 20vmax;

}
.lower1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.9rem;
}
.lower2{
    height: 40vmin;
    border-radius: 0.9rem;
    width: 20vmax;
    
}
.lower2 img{
    object-fit: cover;
    width: 100%;
    border-radius: 0.9rem;
    height: 100%;
}
.lower3{
    height: 40vmin;
    border-radius: 0.9rem;
    width: 20vmax;
    
}
.lower3 img{
    object-fit: cover;
    width: 100%;
    border-radius: 0.9rem;
    height: 100%;
}
/*middle part content end */



/* CARD CSS
--------- */
.popularherbs{
    font-family: Inter,sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}
.card_parent{
    display: flex;
    gap: 7vh;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    border-radius: 0.8rem;
    background-color: #E7FAFE;
    align-self: center;

}
.herbs_body{
    display: grid;
    justify-content: center;
    gap: 3vmax;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.herbs{
    display: flex;
    flex-flow: column wrap;
    gap: 2.3vmin;
    height: 52vmin;
    width: 22vmax;
    background-color: white;
    align-items: flex-start;
    border-radius: 0.8rem;

}
.herbs_img{
    height: 50%;
    width: 100%;
    background-color: aqua;
    border-radius: 0.8rem;
}
.herbs_img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
}
.herbs_info{
    display: flex;
    flex-flow: column wrap;
    gap: 1.2vmin;
    margin-left: 1.3vmax;

}
.herbs_info .category{
    color: rgb(118, 121, 123);
    font-family: Inter,sans-serif;
    font-size: 1rem;
}
.herbs_info .name{
    font-family: Inter,sans-serif;
    font-size: 1rem;
} 
.herbs_info .product_rating{
    font-size: 0.8rem;

}
.herbs_info .seller_name{
    color: rgb(118, 121, 123);
    font-family: Inter,sans-serif;
    font-size: 1rem;
}
.price_section{
    display: flex;
    flex-flow: row wrap;
    gap: 1.3vmax;
}
.price_section h1{
    color: #50D94D;
    font-size: 1rem;
    font-family: Inter,sans-serif;
    margin-left: 1.3vmax;
}
.price_section .cart{
    display: flex;
    color: white;
    background-color: black;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: Inter,sans-serif;
    color: white;
    background-color: black;
    height: 4vmin;
    border-radius: 0.8rem;
    width: 8vmax;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.price_section .buy{
    display: flex;
    background-color: #50D94D;
    color: white;
    font-size: 1rem;
    width: 4vmax;
    justify-content: center;
    align-items: center;
    height: 4vmin;
    border-radius: 0.7rem;
    cursor: pointer;
}

.seller-text{
    font-size: 2.4rem;
    font-weight: 600;
    font-family: Inter,sans-serif;
    align-self: center;
}

.lower_parent{
    display: flex;
    flex-flow: column wrap;
    margin-top: 7vmin;
}

/* BLOG CARD CSSS
-------------- */
.container-blogcard{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  margin-top: -150px;
  flex-wrap: wrap;
}
.blog-card{
  position: absolute;
  height: 370px;
  width: 1250px;
  margin: auto;
  border-radius: 25px;
  background:rgb(231,249,253);
  box-shadow: 0px 10px 50px rgba(252,56,56,.3);
}
.inner-part{
  position: absolute;
  display: flex;
  height: 360px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
  padding: 0;
  transition: .1s ease-in;
}
.inner-part .img{
  height: 260px;
  width: 260px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 3px 15px rgba(252,56,56,.1);
}
#imgTap:checked ~ .inner-part .img{
  height: 370px;
  width: 850px;
  z-index: 99;
  margin-top: 10px;
  transition: .3s .2s ease-in;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3{
  opacity: 1;
  transition-delay: .2s;
}
.content{
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s;
}
#imgTap:checked ~ .inner-part .content{
  display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3{
  opacity: 1;
  margin-left: 0px;
  z-index: 100;
  transition-delay: .3s;
}
.content .title{
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.content .text{
  color: #4e4a67;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5em;
  text-align: justify;
}
.content button{
  display: inline-flex;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff0e6;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background: black;
}
.content button:hover{
  background: linear-gradient(147deg, #fe791b 0%, #fd1c1c 74%);
}
.sliders{
  position: absolute;
  bottom: 25px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 12;
}
#imgTap:checked ~ .sliders{
  display: none;
}
.sliders .tap{
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}
.sliders .tap:hover{
  background: #cccccc;
}
.sliders .tap:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: black;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before{
  transform: scaleX(1);
  width: 100%;
}


/* SWEKED CSS
---------= */

.Skewed-text p{
  font-size: 20px;
  line-height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Skewed-text h1{margin: 0;}

.skewed-section{
    display: flex;
    align-items: center;
}
.skewed{
  width: 90%;
  height: 290px;
  color:black;
  display: flex;
  background:rgb(231,249,253);
  margin: 2em 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  margin-top: -100px;
  margin-left: 3.5vw;
}
.skewed:hover{
  background-color: rgb(62 62 62);
  color: white;
  cursor: pointer;
  transform: scale(1.02);
  transition: all is ease;
}
.Skewed-text{
  padding: 1.5em;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.Skewed-text a{
  background: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.image-Skewed{
  width: 50%;
  height: 18em;
  position: relative;
  overflow: hidden;
  object-fit: cover;
 border-radius: 30px;
}

.image-Skewed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: -75px; 
}

/* FOOTTERRR CSS
------------- */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

footer {
    bottom: 0;
}

@media (max-height:800px) {
    /* footer {
        position: static;
    } */
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color:rgb(231,249,253);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: black;
    font:36px Lobster,sans-serif;
    margin: 0;
    font-weight: 600;
}



/* Footer links */

.footer-distributed .footer-links {
    color: black;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color:aqua;
    color: black;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color:black;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: black;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

                 
