<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'browse.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Browse</title>

</head>

<style>
    .checked {
  color: orange;
}
  .rating {
  margin-top: 40px;
  border: none;
  float: left;

}

.rating > label {
   color: #9C9C9C;
  font-size: 7px;
  float:right;
}


.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}


#star{
font-size: 10px;
color:grey;
}

#check-star{
font-size: 10px;
}
</style>

<body class="bg-gray-100 font-sans">
    {% include 'dashboard/navbar.html'%}

    <div class="wrapper">
        <!-- Sidebar -->
        <div class="content_wrapper">
            <div class="sidebar">
                {% comment %} <----categories---> {% endcomment %}
                <h2>Categories</h2>
                <ul >
                    {% for category in categories %}
                        <li class="py-2 px-2 rounded-xl {% if category.id == category_id %} bg-gray-100 {% endif %}">
                            <a href="{% url 'item:browse' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
    
                {% comment %} <---slider---> {% endcomment %}
    
                <div class="Priceslide">
                    <header>
                      <h2>Price Range</h2>
                      <p>Use slider or enter min and max price</p>
                    </header>
                    <form method="get" action="">
                    <div class="price-input">
                      <div class="field">
                        <span>Min</span>
                        <input type="number" name="input_min" class="input-min" value="0">
                    </div>
                    <div class="separator">-</div>
                      <div class="field">
                        <span>Max</span>
                        <input type="number" name="input_max" class="input-max" value="0">
                      </div>
                    </div>
                    <div class="slider">
                      <div class="progress"></div>
                    </div>
                    <div class="range-input">
                      <input type="range" class="range-min" min="0" max="10000" value="2500" step="100">
                      <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                    </div>
                    <button>Search</button>
                    </form>
                </div> 
    
                {% comment %} <----clearbtn---> {% endcomment %}
                <div class="clearbtn">
                    <a href="{% url 'item:browse'%}" class="py-3 px-4 bg-yellow-500 text-lg rounded-xl text-white">Clear Filters</a>
                </div>
    
            </div>
    
            <!-- Main Content -->
            <div class="main_content">
                <!-- Search Bar -->
                <div class="input-box">
                    <i class="uil uil-search"></i>
                    <form method="get" action="{% url 'item:browse' %}" class="flex items-center w-full">
                        <input name="query" class="flex-grow py-4 px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 border rounded-xl" type="text" value="{{query}}" placeholder="Search for a herb">
                        <button class="btn">Search</button>
                    </form>
                </div>
    
                <!-- Card Views -->
                <div class="container-card">
                    {% for item in items.all %}
                        <div class="card bg-herb-box rounded-xl mb-6">
                            <a href="{% url 'item:detail' item.id %}">
                                <div class="card-image" style="background-image: url('{{ item.image.url }}');"></div>
                                <div class="p-4">
                                    <h2 class="text-xl text-black font-semibold">{{ item.name }}</h2>
                                    <p class="text-gray-500">Price: {{ item.price }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    <script src="{% static 'browse.js'%}"></script>
</body>

</html>