{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'form.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&family=Lobster&display=swap"
      rel="stylesheet"
    />

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="parent_div">
    <div class="image_section">
        <img src="{% static './item/images/Herb.webp'%}">
    </div> 
      <div class="form_parent">
        <div class="item_text">
          <span>{{title}}</span>
        </div>
        <div class="form_body">
          <form
            method="POST"
            action="."
            enctype="multipart/form-data"
            class="item_form"
          >
            {% csrf_token %}
            <div class="category_row">
              {% if form.fields.category %} {% if form.initial.category %}
              <!-- 'Category' field is not rendered when editing -->
              {% else %}
              <div class="category_field">
                <span>Category</span>
                {{ form.category }}
              </div>
              {% endif %} {% endif %}
            </div>
            <div class="first_row">
              <div class="name_field">
                <span>Name</span>
                {{form.name}}
              </div>
              <div class="sname_field">
                <span>Scientific Name</span>
                {{form.scientific_name}}
              </div>
            </div>
            <div class="second_row">
              <div class="price_field">
                <span>Price</span>
                {{form.price}}
              </div>
              <div class="quantity_field">
                <span>Quantity available</span>
                {{form.quantity_available}}
              </div>
            </div>
            <div class="third_row">
              <div class="usage_field">
                <span>Usage and Benefit</span>
                {{form.usage_and_benefits}}
              </div>
              <div class="description_field">
                <span>Description</span>
                {{form.description}}
              </div>
            </div>
            <div class="fourth_row">
              <div class="image_field">
                <span>Image</span>
                {{form.image}}
              </div>
            </div>
            <div class="submit_btn">
              <button>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
