<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inbox</title>
</head>
<body>
    <h1 class="mb-6 text-3xl">Inbox</h1>
    <div class="space-y-6">
        {% for chatting in conversations %}
            <a href="{% url 'chatting:detail' chatting.id %}">
                <div class="p-6 flex bg-gray-100 rounded-xl">
                    <div class="pr-6">
                        <img src="{{ chatting.item.image.url}}" class="w-20 rounded-xl">
                </div>

                <div>
                    {% for member in chatting.members.all %}
                        {% if member != request.user %}
                            <p class="mb-4"><strong>{{ member.username }}</strong> | {{ chatting.modified_at }}</p>
                            <p>{{ chatting.item.name }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
                </a>
        {% endfor %}
</body>